.item {
    background-color: #e7837f;
    width: 100%;
    text-align: center;
    margin: 4px 0;
    cursor: pointer;
    border-radius: 5px;
}

.item.completed {
    background-color: #493837;
    text-decoration: line-through;
    
}